<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Handle requests up to 1 GB -->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime targetFramework="4.7.2" executionTimeout="9999" maxRequestLength="2000000" />
    <!--approx 2GB-->
  </system.web>

</configuration>