USE [master]
GO
/****** Object:  Database [Sepes]    Script Date: 17.09.2019 12:38:00 ******/
CREATE DATABASE [Sepes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sepes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sepes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sepes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sepes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sepes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sepes]
GO
/****** Object:  Table [dbo].[lnkStudy2Dataset]    Script Date: 17.09.2019 12:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkStudy2Dataset](
	[StudyID] [int] NOT NULL,
	[DatasetID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lnkUser2Study]    Script Date: 17.09.2019 12:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkUser2Study](
	[UserID] [int] NOT NULL,
	[StudyID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDataset]    Script Date: 17.09.2019 12:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDataset](
	[DatasetID] [int] NOT NULL,
	[DatasetName] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_tblDataset] PRIMARY KEY CLUSTERED 
(
	[DatasetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPod]    Script Date: 17.09.2019 12:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPod](
	[PodID] [int] NOT NULL,
	[PodName] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_tblPod] PRIMARY KEY CLUSTERED 
(
	[PodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudy]    Script Date: 17.09.2019 12:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudy](
	[StudyID] [int] NOT NULL,
	[StudyName] [nvarchar](25) NOT NULL,
	[PodID] [int] NULL,
 CONSTRAINT [PK_tblStudy] PRIMARY KEY CLUSTERED 
(
	[StudyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 17.09.2019 12:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [int] NOT NULL,
	[UserName] [nvarchar](25) NOT NULL,
	[UserEmail] [nvarchar](30) NOT NULL,
	[UserGroup] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[lnkStudy2Dataset]  WITH CHECK ADD  CONSTRAINT [FK_lnkStudy2Dataset_tblDataset] FOREIGN KEY([DatasetID])
REFERENCES [dbo].[tblDataset] ([DatasetID])
GO
ALTER TABLE [dbo].[lnkStudy2Dataset] CHECK CONSTRAINT [FK_lnkStudy2Dataset_tblDataset]
GO
ALTER TABLE [dbo].[lnkStudy2Dataset]  WITH CHECK ADD  CONSTRAINT [FK_lnkStudy2Dataset_tblStudy] FOREIGN KEY([StudyID])
REFERENCES [dbo].[tblStudy] ([StudyID])
GO
ALTER TABLE [dbo].[lnkStudy2Dataset] CHECK CONSTRAINT [FK_lnkStudy2Dataset_tblStudy]
GO
ALTER TABLE [dbo].[lnkUser2Study]  WITH CHECK ADD  CONSTRAINT [FK_lnkUser2Study_tblStudy] FOREIGN KEY([StudyID])
REFERENCES [dbo].[tblStudy] ([StudyID])
GO
ALTER TABLE [dbo].[lnkUser2Study] CHECK CONSTRAINT [FK_lnkUser2Study_tblStudy]
GO
ALTER TABLE [dbo].[lnkUser2Study]  WITH CHECK ADD  CONSTRAINT [FK_lnkUser2Study_tblUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUser] ([UserID])
GO
ALTER TABLE [dbo].[lnkUser2Study] CHECK CONSTRAINT [FK_lnkUser2Study_tblUser]
GO
ALTER TABLE [dbo].[tblStudy]  WITH CHECK ADD  CONSTRAINT [FK_tblStudy_tblPod] FOREIGN KEY([PodID])
REFERENCES [dbo].[tblPod] ([PodID])
GO
ALTER TABLE [dbo].[tblStudy] CHECK CONSTRAINT [FK_tblStudy_tblPod]
GO
USE [master]
GO
