<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*]Sepes.Azure.Dto.*,[*]Sepes.Common.Dto.*,[*]Sepes.Common.Constants.*,[*]Sepes.Common.Exceptions.*,[*]Sepes.Common.Interface.*,[*]Sepes.Common.Model.*,[*]Sepes.Common.Response.*,[*]Sepes.RestApi.Database.*,[*]Sepes.Tests.Common.*,[*]Sepes.Infrastructure.Dto.*,[*]Sepes.Infrastructure.Model.*,[*]Sepes.Infrastructure.Migrations.*,[*]Sepes.Infrastructure.Extensions.*,[*]Microsoft.AspNetCore.Authentication.*</Exclude>     
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <SingleHit>true</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>